#texto{
    width: 40%;
    margin-top: 35px;
}

#texto .botones{
    margin-top: 15px;
}

#collage {
    display: flex;
    margin-left: auto; 
}

#collage img{
    margin-left: 15px;
    height: 200px;
    margin-top: 15px;
    object-fit: contain;
}
#contenido {
    display: flex;
}
.index-portada{
    position: relative;
    height: 500px;
    margin: auto 50;
    /* background-image: url('/imagenes/Carroussel/Carroussel-1.webp'); */
}
.index-portada img{
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:bottom;
}
.index-portada p{
    position: absolute;
    width: 10px;
    font-size:xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    top: 80;
    left: 100;
}

.botones{
    display: block;
    font-weight: bold;
    width: fit-content;
    font-size: 20px;
    padding: 0 10;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 20px;
}

.botones:hover{
    color: orange;
}