#duda{
    width: 30%;
}

#principal{
    width: 120px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 60px);
}

#imagen{
    position: relative;
    margin-left: 200px;
    width: 300px;
    height: 200px;
    /*border: 1px solid blue;*/
}

.peque{
    width: 40px;
    height: 40px;
    position: absolute;
}

#tele{
    top: 100px;
    left: 20px;
}

#whats{
    top: 50px;
    left: 75px;
}

#tw{
    top: 0;
    left: calc(50% - 20px)
}

#inst{
    top: 50px;
    right: 75px;
}

#face{
    top: 100px;
    right: 20px;
}

form{
    display: block;
    margin-left: 0;
    width: 50%;
}

#nombre td,#nombre table,#nombre textarea{
    width: 100%;
}

#nombre{
    display: flex;
}

#textaco{
    display: block;
    margin-right: 0;
    width: 100%;
}

.formulario{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 2px solid black;
}

.botonera{
    text-align: right;
}

.botoncito{
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 220px;
    height: 36px;
    font-size: large;
    border-radius: 18px;
}

.botoncito:hover{
    background-color: orange;
}

textarea{
    border: 2px solid black;
}



